#Pandas' da yine Anaconda Promptan pip install pandas komutu ile indirilebilir. İndirmez iseniz 
#programı çalıştırdığınızda hata alırsınız. 

#Pandas kütüphanesinin import edilmesi

In [ ]:
import numpy as np
import pandas as pd #Genel import şekli "pd" kısaltması ile kulanmaktır.

#Pandas' ta veri yapıları vardır.. 

#Series-----tek boyutlu Numpy dizilerine çok benzerler. Genel kullanımı 
"my_series = pd.Series(data,index)"

#DataFrames-- DataFrame’leri farklı tipteki sütunlara ve satırlara sahip bir SQL tablosu olarak düşünebiliriz.Genel kullanımı; 
my_dataframe = pd.DataFrame(data,index)

In [ ]:
# Bir Numpy dizisi ve bir Pandas serisi oluşturup farklarına ve benzerliklerine bakalım. Böylece ayrımı daha net yapabiliriz. 

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numpy_array = np.array(numbers)
print(numpy_array)

print ("---------")

pandas_series = pd.Series(data=numbers)
print(pandas_series)
print ("Pandas serilerinde index sütunu da bulunur")
#Index sütunu belirlemese bile default olarak pandas içinde oluşturulur.

[0 1 2 3 4 5 6 7 8 9]
---------
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
Pandas serilerinde index sütunu da bulunur

In [ ]:
#Index verildiğinde ise; (Seri tipini Float olarak belirledik)
my_index = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h', 'i','j']
pandas_series = pd.Series(data=numbers, index=my_index, dtype=float)
print(pandas_series)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
i    8.0
j    9.0
dtype: float64

In [ ]:
numbers_dictionary = {'a': 0, 'b':1, 'c':2, 'd':3, 'e':4, 'f':5, 'g':6,'h':7, 'i':8,'j':9}
pandas_series = pd.Series(data=numbers_dictionary)
print(pandas_series)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

#ndim, dtype, shape.. gibi özellikleri seriyi incelemek için Pandas’ta da kullanabiliyoruz
#max(), min(), sum(), median(), mean()… gibi özellikleri Numpy’da olduğu gibi Pandas’ta da kullanabiliyoruz.

#Bu yüzden bunların kodlarını çalışmayı size bırakıyorum :)

#**DATAFRAMES**

In [ ]:
#Data dictionary'lerden oluştuğunda
dict1 = dict(a=1, b=2, c=3, d=4)
dict2 = dict(a=5, b=6, c=7, d=8, e=9)
data1 = dict(first=dict1, second=dict2)
df1 = pd.DataFrame(data1)
print(df1)

print ("----------")

#Data serilerden oluştuğunda
s1 = pd.Series([1.1, 2.2, 3.3, 4.4])
s2 = pd.Series(['a', 'b', 'c', 'd', 'e'])
data2 = dict(first=s1, second=s2)
df2 = pd.DataFrame(data2)
print(df2)

print ("----------")

#Data başka bir DataFrame'den oluştuğunda
df3 = pd.DataFrame(df2)
print(df3)

   first  second
a    1.0       5
b    2.0       6
c    3.0       7
d    4.0       8
e    NaN       9
----------
   first second
0    1.1      a
1    2.2      b
2    3.3      c
3    4.4      d
4    NaN      e
----------
   first second
0    1.1      a
1    2.2      b
2    3.3      c
3    4.4      d
4    NaN      e

#DataFrame nesneleri satır ve sütun adlarına sahip olduğu için Numpy’ dan farklı olarak bu satır ve sütun adlarıyla istediğimiz veriyi seçebiliriz. Seçme işlemleri için “.loc[]” kullanılabilir. Genel kullanımı:

df.loc[row, column]

![alt text](https://miro.medium.com/max/1360/1*2knzkEwBgxdaoo9TUZ74CA.png)

#Görsel Data Quest sitesinden alıntılanmıştır daha fazla detay için siteden yararlanabilirsiniz.
#Bilişim Hareketi' nin Medium sayfasından çok dha detaylı okumalar yapabilirsiniz. 

# "https://medium.com/bili%C5%9Fim-hareketi"